[submodule "resources/assimp"]
	path = resources/assimp
	url = https://github.com/panmarco83/assimp.git
[submodule "resources/openvr"]
	path = resources/openvr
	url = https://github.com/panmarco83/openvr.git
[submodule "resources/openal-soft"]
	path = resources/openal-soft
	url = https://github.com/panmarco83/openal-soft.git
[submodule "resources/openssl"]
	path = resources/openssl
	url = https://github.com/panmarco83/openssl.git
