*.pro.user
Makefile
/cache
/debug
/.vs
/x64
*.vcxproj.*
*.sln
/Release
/FireBox.VC.db
/FireBox.VC.VC.opendb
/*.sdf
/*.b5e2e75
/*.suo
*.opensdf
/bin/debug
riftid.txt
gearid.txt
googleanalyticsid.txt
/android/keystore.properties
dependencies/android/arm64-v8a/libxul.so
dependencies/android/armeabi-v7a/libxul.so
dependencies/android/armeabi/libxul.so
**/.DS_Store
*.pro.user.*
*.o
moc_*.cpp
moc_*.h
dist/
janusvr
.qmake.stash
